#game {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px;
    height: 500px;
    background: #e1e1e1;
    margin: 0 auto;
}
#money {
    font-size: 52px;
    font-weight: bold;
    color: gray;
    font-family: 'Courier New', Courier, monospace;
}
img {
    width: 300px;
    height: 300px;
    background: yellow;
}
#poor-hamster {
    display: block;
}
#rich-hamster {
    display: none;
}
#sport-hamster {
    display: none;
}
p {
    font-family: 'Courier New', Courier, monospace;
}
#button {
    display: inline-block; /* Строчно-блочный элемент */
    background: #000000; /* Цвет фона */
    color: #fff; /* Цвет текста */
    padding: 1rem 1.5rem; /* Поля вокруг текста */
    text-decoration: none; /* Убираем подчёркивание */
    border-radius: 10px; /* Скругляем уголки */
}