#game {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px;
    height: 500px;
    background: #e1e1e1;
    margin: 0 auto;
}
#money {
    font-size: 52px;
    font-weight: bold;
    color: gray;
}
#hamster img {
    width: 300px;
    height: 300px;
    background: yellow;
}
#poor-hamster {
    display: block;
}
#rich-hamster {
    display: none;
}
#sport-hamster {
    display: none;
}
div {
    display: block
}